<div class="field">
  <div class="field-label"><%= f.label :first_name %></div>
  <div class="field-input"><%= f.text_field :first_name %></div>
</div>
<div class="field">
  <div class="field-label"><%= f.label :last_name %></div>
  <div class="field-input"><%= f.text_field :last_name %></div>
</div>

<hr/>

<div class="actions"><h3>Installer Details</h3></div>

<div class="field">
  <div class="field-label"><%= f.label :accreditation, "CEC Accreditation Number" %></div>
  <div class="field-input"><%= f.text_field :accreditation %></div>
</div>

<div class="field">
  <div class="field-label"><%= f.label :contractor_license_number, "Contractor Licence Number" %></div>
  <div class="field-input"><%= f.text_field :contractor_license_number %></div>
</div>

<hr/>

<div class="actions">Company Details</div>

<div class="field">
  <div class="field-label"><%= f.label :company, "Company Name" %></div>
  <div class="field-input"><%= f.text_field :company %></div>
</div>

<div class="field">
  <div class="field-label"><%= f.label :abn, "ABN" %></div>
  <div class="field-input"><%= f.text_field :abn %></div>
</div>

<div class="actions">Address</div>

<div class="field">
  <div class="field-label"><%= f.label :company_address, "Street Address" %></div>
  <div class="field-input"><%= f.text_field :company_address %></div>
</div>

<div class="field">
  <div class="field-label"><%= f.label :company_suburb, "Suburb" %></div>
  <div class="field-input"><%= f.text_field :company_suburb %></div>
</div>
<div class="field">
  <div class="field-label"><%= f.label :company_postcode, "Postcode" %></div>
  <div class="field-input"><%= f.text_field :company_postcode %></div>
</div>

<div class="actions">Contact Details</div>

<div class="field">
  <div class="field-label"><%= f.label :contact_email, "Contact Email" %></div>
  <div class="field-input"><%= f.text_field :contact_email %></div>
</div>

<div class="field">
  <div class="field-label"><%= f.label :company_phone, "Phone" %></div>
  <div class="field-input"><%= f.text_field :company_phone %></div>
</div>

<div class="field">
  <div class="field-label"><%= f.label :company_fax, "Fax" %></div>
  <div class="field-input"><%= f.text_field :company_fax %></div>
</div>