<%= link_to "â† Back", root_url %>
<div class="row-fluid">
  <div class="span3">
    <hr/>
    <h3>Update details</h3>
    
    <hr/>
    
    <%= render 'users/logo' %>
    
  </div>
  <div class="span8 offset1">
    <hr/>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  
      <% if resource.errors.any? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Check the errors below and try again.
        </div>
      <% end %>
  
      <h3>Email</h3>
      <div><%= f.email_field :email %></div>
      
      <hr/>
      
      <%= render :partial => 'fields', :locals => { f: f } %>
  
      <hr/>

      <h3>Change Password</h3>
      <p>Leave blank to keep password.</p>
      <div>
        <%= f.password_field :password, :autocomplete => "off", :placeholder => "New Password" %>
      </div>

      <div>
        <%= f.password_field :current_password, :placeholder => "Current Password" %>
      </div>
      
      <hr/>
  
      <div><%= f.submit "Update", :class => "btn btn-large" %></div>
    <% end %>
    
    
    <hr/>
    
    <h2>Billing</h2>
    <% if current_user.subscribed? %>
      <p>You are subscribed</p>
      <p>Usage this month: <%= currency(current_user.current_charge) %></p>
    <% end %>
    
    <h4>Previous Invoices</h4>
    
    <% current_user.eway_payments.reverse.each do |payment| %>
      <p><%= link_to "#{nicetime(payment.created_at)} #{currency(payment.return_amount)}", invoice_path(payment) %></p>
    <% end %>
    
  </div>

</div>