<div class="nest">
  <div class="field">
    <div class="field-label">
      <% if current_user.logo? %>
        <p><%= image_tag current_user.logo %></p>
      <% end %>
    </div>
    <div class="field-input">
      <h3>Logo</h3>
      <%= link_to current_user.logo? ? "Upload new logo" : "Upload Logo", "#", :id => "upload-logo-btn" %>
      <%= form_for current_user, :html => { :class => "logo-form" } do |f| %>
        <%= f.file_field :logo %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>

  <hr/>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

    <% if resource.errors.any? %>
      <div class="alert alert-error">Check the errors below and try again.</div>
    <% end %>
    
    <div class="actions"><h3>Account</h3></div>
  
    <div class="field">
      <div class="field-label">
        <%= f.label :email %>
      </div>
      <div class="field-input">
        <%= f.email_field :email %>
      </div>
    </div>
  
    <%= render :partial => 'fields', :locals => { f: f } %>
  
    <hr/>
  
    <div class="actions">
      <h3>Change Password</h3>
      <span class="help">Leave blank to keep password.</span>
    </div>
    <div class="field">
      <div class="field-label"><%= f.label :password, "New Password" %></div>
      <div class="field-input"><%= f.password_field :password %></div>
    </div>
    <div class="field">
      <div class="field-label"><%= f.label :password, "Current Password" %></div>
      <div class="field-input"><%= f.password_field :current_password %></div>
    </div>

    <hr/>
  
    <div class="actions"><%= f.submit "Update", :class => "btn btn-large" %></div>
  
  <% end %>
</div>