<div class="row-fluid">
  <div class="span3">
    <hr/>
    
    <h3>Get Started</h3>
    
    <p>Fill in the details to get started generating your own solar installation user manuals.</p>
    
    <p>Please <%= link_to "let us know", "mailto:info@solarmanuals.com.au" %> if you have problems, or any comments or feedback.</p>
    
    <p><%= link_to "Sign in here", new_user_session_path %> if you already have an account.</p>
    
  </div>
  
  <div class="span8 offset1">
    <hr/>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  
      <% if resource.errors.any? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Check the errors below and try again.
        </div>
      <% end %>
      
      <h3>Account Details</h3>

      <div>
        <p>We'll use your email to log you in.</p>
        <%= f.email_field :email, :placeholder => "Email" %>
      </div>
      
      <div><%= f.password_field :password, :placeholder => "Password" %></div>

      <hr/>
  
      <%= render :partial => 'fields', :locals => { f: f } %>
  
      <hr/>

      <div><%= f.submit "Sign up", :class => "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>