<div id="user-box">

  <h2>Forgot your password?</h2>
  
  <p>Enter your email below and we'll send you instructions to reset your password.</p>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.email_field :email, :placeholder => "Email" %></div>

    <div><%= f.submit "Send", :class => "btn btn-block btn-primary" %></div>
    
    <hr/>
    
    <%= render "devise/shared/links" %>
    
  <% end %>
</div>