<table class="rates-table">
  <tr>
    <td>Amount of manuals<br/>generated per month</td>
    <td class="r-col">Price per manual</td>
  </tr>
   
  <tr> 
    <td>&nbsp;</td>
    <td class="r-col">&nbsp;</td>
  </tr>
  
  <tr>  
    <td>First 10 manuals</td>
    <td class="r-col"><span class="blue">Free</span> <span class="help">Included with subscription</span></td>
  </tr>
  
  <tr>  
    <td>11 to 100</td>
    <td class="r-col"><%= currency(250)%> <span class="help">Per manual</span></td>
  </tr>
  
  <tr>  
    <td>Up to 250</td>
    <td class="r-col"><%= currency(225)%> <span class="help">Per manual</span></td>
  </tr>
  
  <tr>  
    <td>Up to 500</td>
    <td class="r-col"><%= currency(200)%> <span class="help">Per manual</span></td>
  </tr>
  
  <tr>  
    <td>Up to 1000</td>
    <td class="r-col"><%= currency(175)%> <span class="help">Per manual</span></td>
  </tr>
  
  <tr>  
    <td>Over 1000</td>
    <td class="r-col"><%= currency(150)%> <span class="help">Per manual</span></td>
  </tr>
  
</table>  