<dl>
  <dt>Subscription Fee</dt>
  <dd><%= currency(SUBSCRIPTION_FEE) %> <span class="help">Per Month</span></dd>
  
  <dt>&nbsp;</dt>
  <dd>+</dd>
  
  <dt>First 10 manuals</dt>
  <dd><%= currency(0) %></dd>
  
  <dt>Up to 100</dt>
  <dd><%= currency(250)%></dd>
  
  <dt>Up to 250</dt>
  <dd><%= currency(225)%></dd>
  
  <dt>Up to 500</dt>
  <dd><%= currency(200)%></dd>
  
  <dt>Up to 1000</dt>
  <dd><%= currency(175)%></dd>
  
  <dt>Over 1000</dt>
  <dd><%= currency(150)%></dd>
</dl>