<%= form_for(@manual) do |f| %>
  <% if @manual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manual.errors.count, "error") %> prohibited this manual from being saved:</h2>

      <ul>
      <% @manual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h2>Client Details</h2>
  
  <div class="field datetime">
    <%= f.label :install_date %>
    <%= f.datetime_select :install_date %>
  </div>

  <div class="field">
    <%= f.label :client_name, "Full Name" %>
    <%= f.text_field :client_name %>
  </div>
  <div class="field">
    <%= f.label :client_address, "Street Address" %>
    <%= f.text_field :client_address %>
  </div>
  <div class="field">
    <%= f.label :client_suburb, "Suburb" %>
    <%= f.text_field :client_suburb %>
  </div>
  
  <h2>Author Details</h2>
  
  <div class="field">
    <%= f.label :author_name, "Full Name" %>
    <%= f.text_field :author_name %>
  </div>
  <div class="field">
    <%= f.label :author_company, "Company Name" %>
    <%= f.text_field :author_company %>
  </div>
  <div class="field">
    <%= f.label :accreditation_number, "Accreditation Number" %>
    <%= f.text_field :accreditation_number %>
  </div>
  
  <h2>System Details</h2>
  
  <div class="field">
    <%= f.label :system_address, "Grid Interactive Inverter System Location" %>
    <%= f.text_field :system_address, :placeholder => "Insert Address" %>
  </div>
  <div class="field">
    <%= f.label :system_watts, "Solar Panel Array Size" %>
    <%= f.text_field :system_watts, :placeholder => "Insert Watts" %>
  </div>
  <div class="field">
    <%= f.label :system_config, "Electrical Configuration" %>
    <%= f.text_field :system_config, :placeholder => "eg. 1 string of 10 panels" %>
  </div>
  <div class="field">
    <%= f.label :system_pv_voltage, "PV Array Voltage (Open Circuit)" %>
    <%= f.text_field :system_pv_voltage, :placeholder => "eg. 355 Volts DC" %>
  </div>
  <div class="field">
    <%= f.label :system_pv_current, "PV Array Current (Short Circuit)" %>
    <%= f.text_field :system_pv_current, :placeholder => "eg. 8.6 Amps DC" %>
  </div>
  <div class="field">
    <%= f.label :system_yearly_yield, "Approximate Yearly Yield" %>
    <%= f.text_field :system_yearly_yield, :placeholder => "eg. 2975 kiloWatt Hours" %>
  </div>
  
  <h2>Panel Details</h2>
  
  <div class="field">
    <%= f.label :panels_brand, "Panel Brand" %>
    <%= f.text_field :panels_brand %>
  </div>
  <div class="field">
    <%= f.label :panels_model, "Panel Model" %>
    <%= f.text_field :panels_model %>
  </div>
  <div class="field">
    <%= f.label :panels_number, "Number of Panels" %>
    <%= f.text_field :panels_number %>
  </div>
  <div class="field">
    <%= f.label :panels_serial_numbers, "Serial Numbers (comma separated)" %>
    <%= f.text_area :panels_serial_numbers, :placeholder => "2001406276, 2001406250, 2001405450", :rows => 4 %>
  </div>
  
  <h2>Inverter Details</h2>
  
  <div class="field">
    <%= f.label :inverter_brand, "Inverter Brand" %>
    <%= f.text_field :inverter_brand %>
  </div>
  <div class="field">
    <%= f.label :inverter_model, "Inverter Model" %>
    <%= f.text_field :inverter_model %>
  </div>
  <div class="field">
    <%= f.label :inverter_output, "Inverter Output" %>
    <%= f.text_field :inverter_output, :placeholder => "Insert kW" %>
  </div>
  <div class="field">
    <%= f.label :inverter_number, "Number of Inverters" %>
    <%= f.text_field :inverter_number %>
  </div>
  <div class="field">
    <%= f.label :inverter_serial %>
    <%= f.text_field :inverter_serial %>
  </div>
  
  <h2>Warranty Details</h2>
  
  <div class="field">
    <%= f.label :warranty_workmanship, "Installation Workmanship" %>
    <%= f.text_field :warranty_workmanship, :placeholder => "eg. 2 years from installation date" %>
  </div>
  <div class="field">
    <%= f.label :warranty_panels_product, "Panels - Product" %>
    <%= f.text_field :warranty_panels_product, :placeholder => "eg. 10 years" %>
  </div>
  <div class="field">
    <%= f.label :warranty_panels_output_performance, "Panels - Output Performance" %>
    <%= f.text_field :warranty_panels_output_performance, :placeholder => "eg. 25 years" %>
  </div>
  <div class="field">
    <%= f.label :warranty_inverter %>
    <%= f.text_field :warranty_inverter, :placeholder => "eg. 5 years" %>
  </div>
  
  <h2>Diagram Text</h2>
  
  <div class="field">
    <%= f.label :diagram_panels_text %>
    <%= f.text_area :diagram_panels_text, :rows => 4, :placeholder => "eg. 10 X REC. Peak Energy 245W solar panels (Model # REC PE 245W). Total: 2450W array)" %>
  </div>
  <div class="field">
    <%= f.label :diagram_inverter_text %>
    <%= f.text_area :diagram_inverter_text, :rows => 4, :placeholder => "eg. SMA Sunny Boy SB 2500HF" %>
  </div>
  
  <h2>Performance Estimates</h2>
  
  <div class="field">
    <%= f.label :average_daily %>
    <%= f.text_field :average_daily %>
  </div>
  <div class="field">
    <%= f.label :average_yearly %>
    <%= f.text_field :average_yearly %>
  </div>
  <hr/>
  <div class="actions">
    <%= f.submit "Save Manual", :class => "btn btn-large" %>
  </div>
<% end %>
