<div class="section row">
  <div class="span4">
    <h3>System Details</h3>
    
    <%= label_tag "Used previously" %> 
    <%= select "system_details", "prefill", Manual.system_details_prefill, { :include_blank => "Select" }, { :class => "select-prefill" } %>
    
  </div>
  <div class="span5">
    <div class="field">
      <%= f.label :system_watts, "Solar Panel Array Size" %>
      <div class="input-append">
        <span class="input-container"><%= f.text_field :system_watts, :placeholder => "e.g. 2450" %></span>
        <span class="add-on">W</span>
      </div>
    </div>
    <div class="field">
      <%= f.label :system_config, "Electrical Configuration" %>
      <%= f.text_field :system_config, :placeholder => "eg. 1 string of 10 panels" %>
    </div>
    <div class="field">
      <%= f.label :system_pv_voltage, "PV Array Voltage (Open Circuit)" %>
      <div class="input-append">
        <span class="input-container"><%= f.text_field :system_pv_voltage, :placeholder => "eg. 355" %></span>
        <span class="add-on">Volts DC</span>
      </div>
    </div>
    <div class="field">
      <%= f.label :system_pv_current, "PV Array Current (Short Circuit)" %>
      <div class="input-append">
        <span class="input-container"><%= f.text_field :system_pv_current, :placeholder => "eg. 8.6" %></span>
        <span class="add-on">Amps DC</span>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="section row">
  <div class="span4">
    <h3>Panel Details</h3>
    
    <%= label_tag "Used previously" %>
    <%= select "panel_details", "prefill", Manual.panel_details_prefill, { :include_blank => "Select" }, { :class => "select-prefill" } %>
    
  </div>
  <div class="span5">
    <div class="field">
      <%= f.label :panels_brand, "Panel Brand" %>
      <%= f.text_field :panels_brand %>
    </div>
    <div class="field">
      <%= f.label :panels_model, "Panel Model" %>
      <%= f.text_field :panels_model %>
    </div>
    <div class="field">
      <%= f.label :panels_number, "Number of Panels" %>
      <%= f.text_field :panels_number %>
    </div>
    <div class="field">
      <%= f.label :panels_serial_numbers, "Serial Numbers (comma separated)" %>
      <%= f.text_area :panels_serial_numbers, :placeholder => "2001406276, 2001406250, 2001405450", :rows => 4 %>
    </div>
  </div>
</div>
<hr/>
<div class="section row">
  <div class="span4">
    <h3>Inverter Details</h3>
    
    <%= label_tag "Used previously" %>
    <%= select "inverter_details", "prefill", Manual.inverter_details_prefill, { :include_blank => "Select" }, { :class => "select-prefill" } %>
    
  </div>
  <div class="span5">  
    <div class="field">
      <%= f.label :inverter_brand, "Inverter Brand" %>
      <%= f.text_field :inverter_brand %>
    </div>
    <div class="field">
      <%= f.label :inverter_model, "Inverter Model" %>
      <%= f.text_field :inverter_model %>
    </div>
    <div class="field">
      <%= f.label :inverter_output, "Inverter Output" %>
      <div class="input-append">
        <span class="input-container"><%= f.text_field :inverter_output %></span>
        <span class="add-on">kW</span>
      </div>
    </div>
    <div class="field">
      <%= f.label :inverter_serial, "Inverter Serial Number" %>
      <%= f.text_field :inverter_serial %>
    </div>
  </div>
</div>
<hr/>
<div class="section row">
  <div class="span4">
    <h3>Warranty Details</h3>
    <%= label_tag "Used previously" %>
    <%= select "warranty_details", "prefill", Manual.warranty_details_prefill, { :include_blank => "Select" }, { :class => "select-prefill" } %>
  </div>
  <div class="span5">  
    <div class="field">
      <%= f.label :warranty_workmanship, "Installation Workmanship" %>
      <%= f.text_field :warranty_workmanship, :placeholder => "eg. 2 years from installation date" %>
    </div>
    <div class="field">
      <%= f.label :warranty_panels_product, "Panels - Product" %>
      <%= f.text_field :warranty_panels_product, :placeholder => "eg. 10 years" %>
    </div>
    <div class="field">
      <%= f.label :warranty_panels_output_performance, "Panels - Output Performance" %>
      <%= f.text_field :warranty_panels_output_performance, :placeholder => "eg. 25 years" %>
    </div>
    <div class="field">
      <%= f.label :warranty_inverter %>
      <%= f.text_field :warranty_inverter, :placeholder => "eg. 5 years" %>
    </div>
  </div>
</div>
<hr/>
<div class="section row">
  <div class="span4">
    <h3>Safety Certificate Details</h3>
  </div>
  <div class="span5">  
    <div class="field">
      <%= f.label :contractor_licence, "Electrical Contractor Licence Number" %>
      <%= f.text_field :contractor_licence %>
    </div>
    <div class="field">
      <%= f.label :contractor_licence_name, "Name on contractor licence" %>
      <%= f.text_field :contractor_licence_name %>
    </div>
    <div class="field">
      <%= f.label :contractor_phone, "Contractor phone number" %>
      <%= f.text_field :contractor_phone %>
    </div>
    <div class="field">
      <%= f.label :contractor_name, "Contractor name" %>
      <%= f.text_field :contractor_name %>
    </div>
    <div class="field datetime">
      <%= f.label :inspection_date, "Date of test" %>
      <%= f.date_select :inspection_date %>
    </div>
  </div>
</div>
<hr/>
<div class="section row">
  <div class="span4">
    <h3>Graph</h3>
  </div>
  <div class="span5">
    <%= f.label :sunlight_city, "City to use for sunlight data" %>
    <%= f.select :sunlight_city, Cities.names.map { |city| [city.capitalize, city] } %>
  </div>
</div>


<%= f.hidden_field :filled, :value => true %>

