<ol>
  <% @manual.steps.each do |step| %>
    <li>
    <%= form_for(@manual) do |f| %>
      <%= content_tag :div, :class => @manual.current_step?(step) ? 'step current' : 'step' do %>
      
        <% unless @manual.filled %>
          <% if @manual.last_step? %>
            <%= f.hidden_field :filled, :value => 1 %>
            <%= f.hidden_field :current_step, :value => "" %>
          <% else %>
            <%= f.hidden_field :current_step, :value => @manual.next_step %>
          <% end %>
        <% end %>
      
        <div class="step-title">
          <%= step.capitalize %>
        </div>
        
        <div class="step-fields">
          <%= render "step_#{step}", f: f %>
          
          <%= f.submit "Continue" %>

        </div>
        
      <% end %>    
    
      <hr/>

    <% end %>
    </li>
    
  <% end %>
</ol>