<li>
  <div class="background"></div>        
  <fieldset class="string-fields">
    <div class="field">
      <div class="field-label">
        <%= f.label :number, "Number of Panels" %> 
      </div>
      <div class="field-input">
        <%= f.text_field :number, :class => "inline" %>
      </div>
    </div>
    
    <div class="field">
      <div class="field-label">
        <%= f.label :voc, "Open-circuit Voltage (Voc)"%>
      </div>
      <div class="field-input input-append">
        <span class="input-container"><%= f.text_field :voc %></span>
        <span class="add-on">Volts DC</span>
      </div>
    </div>
    
    <div class="field">
      <div class="field-label">
        <%= f.label :short_circuit, "Short Circuit Current (Isc)" %>
      </div>
      <div class="field-input input-append inline">
        <span class="input-container"><%= f.text_field :short_circuit %></span>
        <span class="add-on">Amps</span>
      </div>
    </div>
    
    <div class="field">
      <hr/>
      <div class="field-label">&nbsp;</div>
      <div class="field-input">
        <p class="help">These fields are required for the Installation &amp; Commissioning Checklist (optional):</p>
      </div>
    </div>
    
    <div class="field">
      <div class="field-label">
        <%= f.label :volts, "Voltage"%>
        <p class="help">Tested System Check</p>
      </div>
      <div class="field-input input-append">
        <span class="input-container"><%= f.text_field :volts %></span>
        <span class="add-on">Volts DC</span>
      </div>
    </div>
    
    <div class="field">
      <div class="field-label">
        <%= f.label :short_circuit, "Short Circuit Current" %>
        <p class="help">Tested System Check</p>
      </div>
      <div class="field-input input-append inline">
        <span class="input-container"><%= f.text_field :short_circuit %></span>
        <span class="add-on">Amps</span>
      </div>
    </div>
    
    <div class="field">
      <div class="field-label">
        <%= f.label :amps, "Operating Current" %>
        <p class="help">Tested System Check</p>
      </div>
      <div class="field-input input-append inline">
        <span class="input-container"><%= f.text_field :amps %></span>
        <span class="add-on">Amps</span>
      </div>
    </div>
    
    <div class="field">
      <div class="field-label">
        <%= f.label :tilt, "Array Tilt" %>
      </div>
      <div class="field-input input-append inline">
        <span class="input-container"><%= f.text_field :tilt %></span>
        <span class="add-on">Degrees</span>
      </div>
    </div>
    
    <div class="field">
      <div class="field-label">
        <%= f.label :orientation, "Array Orientation" %>
      </div>
      <div class="field-input input-append inline">
        <span class="input-container"><%= f.text_field :orientation %></span>
        <span class="add-on">Degrees</span>
      </div>
    </div>
    
    <div class="field checkbox">
      <div class="field-label">
        <%= f.label :polarity, "Correct Polarity?" %>
      </div>
      <div class="field-input input-append inline">
        <span class="input-container"><%= f.check_box :polarity %></span>
      </div>
    </div>
    
    <div class="field">
      <div class="field-label">&nbsp;</div>
      <div class="field-input">
        <%= f.hidden_field :_destroy %>
        <%= link_to "Remove", "#", :class => "remove_fields btn" %>
      </div>
    </div>

  </fieldset>
</li>