<li>
  <div class="background"></div>        
  <fieldset class="string-fields">
    <div class="field">
      <div class="field-label">
        <%= f.label :number, "Number of panels" %> 
      </div>
      <div class="field-input">
        <%= f.text_field :number, :class => "inline" %>
      </div>
    </div>

    <div class="field">
      <div class="field-label">
        <%= f.label :volts, "Voltage"%>
      </div>
      <div class="field-input input-append">
        <span class="input-container"><%= f.text_field :volts %></span>
        <span class="add-on">Volts DC</span>
      </div>
    </div>
    <div class="field">
      <div class="field-label">
        <%= f.label :amps, "Current" %>
      </div>
      <div class="field-input input-append inline">
        <span class="input-container"><%= f.text_field :amps %></span>
        <span class="add-on">Amps</span>
      </div>
    </div>
  
    <div class="field">
      <div class="field-label">&nbsp;</div>
      <div class="field-input">
        <%= f.hidden_field :_destroy %>
        <%= link_to "Remove", "#", :class => "remove_fields btn" %>
      </div>
    </div>

  </fieldset>
</li>