<div id="pdf-uploads">
  <p>Attach Additional Documentation <i class="icon-file-alt"></i><br/><span class="help">Upload images or complete pdf documents that will be combined and attached to the appendix of your manual</span></p>
  <%= form_for current_user, :html => { :multipart => true, :class => 'upload-pdfs-form' } do |f| %>  
  <%= link_to "Add Attachments", "#", id: 'upload-pdfs-btn', class: 'btn' %><br/>
    <div id="upload-pdf-fields">
      <%= f.file_field :pdfs_array, :multiple => true, class: 'upload-pdfs-input' %>
      <%= hidden_field_tag :redirect, manual_path(@manual) %>
      <%= f.submit "Add Attachments" %>
    </div>
  <% end %>
  
  <% if current_user.pdfs.count > 0 %>
    <div id="manual-pdfs-boxes">
      <%= form_for @manual do |f| %>
        <%= hidden_field_tag :pdf_list, true %>
        <% @manual.user.pdfs.each do |pdf| %>
          <p class="pdf">
            <%= label_tag dom_id(pdf), :class => 'checkbox' do %>
              <%= check_box_tag 'manual[pdf_ids][]', pdf.id, @manual.pdf_ids.include?(pdf.id), id: dom_id(pdf), :class => 'pdf-checkbox' %> 
              <%= pdf.file_file_name %>
            <% end %>
            <%= link_to "Delete", pdf_path(pdf), :method => :delete, :confirm => "Delete #{pdf.file_file_name}?", :class => 'delete-pdf-link' %>
          </p>
        <% end %>
        <%= f.submit "Update List", class: 'pdfs-submit-btn btn' %>
      <% end %>
    </div>
  <% end %>
</div>