<div class="field">
  <div class="field-label">
    <%= f.label :panels_watts, "Size (per panel)" %>
  </div>
  <div class="field-input input-append">  
    <span class="input-container"><%= f.text_field :panels_watts %></span>
    <span class="add-on">Watts</span>
  </div>
</div>

<div class="field inline">
  <div class="field-label">
    <%= f.label :panels_brand, "Brand" %>
  </div>
  <div class="field-input">
    <%= f.text_field :panels_brand %>
  </div>
</div>
<div class="field inline">
  <div class="field-label">
    <%= f.label :panels_model, "Model" %>
  </div>
  <div class="field-input">
    <%= f.text_field :panels_model %>
  </div>
</div>

<div class="field">
  <div id="serial-range">
    <p class="help">Enter a range of serials and press enter.</p>
    <label>From</label><input id="range-from" type="text" /><br/>
    <label>To</label><input id="range-to" type="text" />
  </div>
  <div class="field-label">
    <%= f.label :panels_serial_numbers, "Serial Numbers" %>
    <p class="helper">Optional - list here unless published in attachments.</p>
  </div>
  <div class="field-input">
    <%= f.text_area :panels_serial_numbers, :rows => 4 %>
  </div>
</div>


<ol id="string-fields">
  <%= f.fields_for :panel_strings do |b| %>
    <%= render 'panel_string_fields', :f => b %>
  <% end %>
  <div class="add-fields">
    <%= link_to_add_fields "Add another string", f, :panel_strings %>
  </div>
</ol>