
<div class="field">
  <div class="field-label">
    <%= f.label :inverter_brand, "Brand" %>
  </div>
  <div class="field-input">
    <%= f.text_field :inverter_brand %>
  </div>
</div>
<div class="field">
  <div class="field-label">
    <%= f.label :inverter_series, "Series" %>
  </div>
  <div class="field-input">
    <%= f.text_field :inverter_series %>
  </div>
</div>
<div class="field">
  <div class="field-label">
    <%= f.label :inverter_model, "Model" %>
  </div>
  <div class="field-input">
    <%= f.text_field :inverter_model %>
  </div>
</div>
<div class="field">
  <div class="field-label">
    <%= f.label :inverter_output, "Output" %>
  </div>
  <div class="field-input input-append">
    <span class="input-container"><%= f.text_field :inverter_output %></span>
    <span class="add-on">kW</span>
  </div>
</div>
<div class="field">
  <div class="field-label">
    <%= f.label :inverter_number, "Number of Inverters" %>
  </div>
  <div class="field-input input-append">
    <span class="input-container"><%= f.text_field :inverter_number %></span>
  </div>
</div>

<div class="field" data-serial-range>
  <%= render 'serial_range' %>
  <div class="field-label">
    <%= f.label :inverter_serial, "Inverter Serial Number" %>
    <p class="helper">Optional - enter here unless published in attachments.</p>
  </div>
  <div class="field-input">
    <%= f.text_area :inverter_serial, :rows => 4, 'data-serial-range-output' => '' %>
  </div>
</div>
