
<div class="field">
  <div class="field-label">
    <%= f.label :warranty_workmanship, "Installation Workmanship" %>
  </div>
  <div class="field-input">
    <%= f.text_field :warranty_workmanship, :placeholder => "2 years" %>
  </div>
</div>
<div class="field">
  <div class="field-label">
    <%= f.label :warranty_panels_product, "Panels - Product" %>
  </div>
  <div class="field-input">
    <%= f.text_field :warranty_panels_product, :placeholder => "10 years" %>
  </div>
</div>
<div class="field">
  <div class="field-label">
    <%= f.label :warranty_panels_output_performance, "Panels - Output Performance" %>
  </div>
  <div class="field-input">
    <%= f.text_field :warranty_panels_output_performance, :placeholder => "25 years" %>
  </div>
</div>
<div class="field">
  <div class="field-label">
    <%= f.label :warranty_inverter %>
  </div>
  <div class="field-input">
    <%= f.text_field :warranty_inverter, :placeholder => "5 years" %>
  </div>
</div>
