<div id="installer-signature">
  <% if @manual.installer_signature %>
    <%= image_tag @manual.installer_signature.file %>
  <% end %>
</div>

<div class="field">
  <div class="field-label">&nbsp;</div>
  <div class="field-input">
    <%= f.check_box :account_installer %> 
    <%= f.label :account_installer, "I am the Accredited Installer (#{current_user.full_name})" %>
  </div>
</div>

<div class="field" id="installer-signature-sign">
  <% unless @manual.new_record? %>
    <div class="actions">
      <%= link_to 'Sign', manual_installer_signature_path(@manual, :account => 1), :class => 'btn sign-btn', :target => "_blank" %>
    </div>
  <% end %>
</div>

<div class="field" id="installer-signature-email">
  <div class="field-label"><%= f.label :installer_signature_email %></div>
  <div class="field-input">
    <%= f.email_field :installer_signature_email %>
    <p class="help">An email with a link to sign the document will be sent.</p>
  </div>
</div>


<div id="contractor-signature">
  <% if @manual.contractor_signature %>
    <%= image_tag @manual.contractor_signature.file %>
  <% end %>
</div>

<div class="field">
  <div class="field-label">&nbsp;</div>
  <div class="field-input">
    <%= f.check_box :account_contractor %> 
    <%= f.label :account_contractor, "Licenced Contractor is #{current_user.full_name}" %>
  </div>
</div>

<div class="field" id="contractor-signature-sign">
  <% unless @manual.new_record? %>
    <div class="actions">
      <%= link_to 'Sign', manual_contractor_signature_path(@manual, :account => 1), :class => 'btn sign-btn', :target => "_blank" %>
    </div>
  <% end %>
</div>

<div class="field" id="contractor-signature-email">
  <div class="field-label"><%= f.label :contractor_signature_email %></div>
  <div class="field-input">
    <%= f.email_field :contractor_signature_email %>
    <p class="help">An email with a link to sign the document will be sent.</p>
  </div>
</div>
