<% @manual.checklist_responses.build ChecklistItem.all.map{|m| {:checklist_item_id => m.id }} %>


<%= f.fields_for :checklist_responses do |b| %>

  <div class="field">
    <% if b.object.checklist_item %>
    
    <div class="field-label help">
      &nbsp;
        
        <%= b.object.checklist_item.helper.html_safe %>
    
    </div>
    
    <div class="field-input">

        <%= b.hidden_field :checklist_item_id, :value => b.object.checklist_item.id %>
        
        <%= b.label :response, b.object.checklist_item.label %>
        
        <%= b.send(b.object.checklist_item.field_type, :response) %>

    </div>
    
    <% end %>
    
  </div>
  
<% end %>