
<%= hidden_field_tag :payment, '1' %>
<%= hidden_field_tag :new_card, (current_user.eway_id ? '0' : '1') %>

<%= f.fields_for [:user_attributes, @manual.user] do |b| %>
  
  <div class="field">
    <div class="field-label">&nbsp;</div>
    <div class="field-input">
      Total <strong><%= currency(CASUAL_FEE) %></strong>
    </div>
  </div>
  
  <% if current_user.eway_id %>
    <div class="field">
      <div class="field-label">&nbsp;</div>
      <div class="field-input">
        <p class="regular">Using stored credit card number<br/><strong><%= format_card(current_user.stored_cc_number) %></strong></p>
        <p>
          <%= link_to "Change credit card", "#", :class => "show-cc-fields" %>
          <%= link_to "Use this card", "#", :class => "hide-cc-fields" %>
        </p>
      </div>
    </div>
    
  <% end %>
  
  <div id="subscribe-cc-fields" class="<%= current_user.eway_id ? 'hidden' : '' %>">

    <%= render :partial => "shared/cc_fields", :locals => {f: b} %>
    <div class="field">
      <div class="field-label">
        <%= b.label :remember %>
      </div>
      <div class="field-input">
        <%= b.check_box :remember %> 
        <p class="help">Your details will be stored securely. Read our security policy <%= link_to "here", "/security", :target => :_blank %>.</p>
      </div>
    </div>

  </div>

<% end %>