<% @manual.checklist_responses.build ChecklistItem.all.map{|m| {:checklist_item_id => m.id }} %>


<%= f.fields_for :checklist_responses do |b| %>

  <div class="field checklist">
    
    <% if b.object.checklist_item %>
    
    <div class="field-label">
        
        <%= b.label :response, b.object.checklist_item.label %>
    
    </div>
    
    <div class="field-input">
        <%= b.hidden_field :checklist_item_id, :value => b.object.checklist_item.id %>
        
        <%= b.send(b.object.checklist_item.field_type, :response) %>

        <p class="help"><%= b.object.checklist_item.helper.html_safe %></p>

    </div>
    
    <% end %>
    
  </div>
    
<% end %>