<div class="row">
  <div class="span3">
    <p><%= link_to '<i class="icon-file"></i> New Manual'.html_safe, new_manual_path, class: 'btn btn-large', id: 'new-manual' %></p>
  </div>
  <div class="span4">
    <p>
      <strong><%= current_user.first_name %> <%= current_user.last_name %></strong><br/>
      <strong><%= current_user.company %></strong><br/>
      Accreditation number: <strong><%= current_user.accreditation %></strong>
    </p>

    <p><%= link_to "Update my details", edit_user_registration_path %></p>
  </div>
  <div class="offset1 span4">
    
    <% if current_user.subscribed? %>
      <p>You are subscribed! <%= link_to "Cancel my subscription.", payment_path(current_user.payment), :method => :delete, :confirm => "Are you sure?\n\nCancelling your subscription will remove access to your archive. We will keep all of the details but you will need to pay the one-off fee for access to each one.\n\nYou can subscribe again at any time.\n\n" %></p>
    <% else %>
      <%= form_for @subscription do |f| %>
        <%= f.hidden_field :type, :value => "subscription" %>
        <%= f.hidden_field :payable_id, :value => current_user.id %>
        <%= f.hidden_field :payable_type, :value => current_user.class %>
        <p><%= link_to "<span class='above'>Subscribe</span></span>$30 / month for unlimited access".html_safe, "#", id: "submit-subscription", class: "btn btn-success btn-block subscribe" %></p>
        <p id="subscription-loading">Just a minute... Redirecting you to PayPal</p>
      <% end %>
    <% end %>
  </div>
</div>

<table class="table" id="manuals-archive-table">
  <tr>
    <% unless current_user.subscribed? %>
      <th width="20">Paid</th>
    <% end %>
    <th>Client name</th>
    <th>Client address</th>
    <th>Client suburb</th>
    <th>Install date</th>
    <th></th>
  </tr>

<% @manuals.each do |manual| %>
  <%= content_tag :tr, class: (manual.filled? ? 'success': '') do %>
    <% unless current_user.subscribed? %>
      <td class="paid-icon">
        <%= link_to content_tag(:i, "", class: (manual.paid? ? 'icon-ok' : 'icon-minus')), manual %>
      </td>
    <% end %>
    <td><%= link_to manual.client_name, manual %></td>
    <td><%= link_to manual.client_address, manual %></td>
    <td><%= link_to manual.client_suburb, manual %></td>
    <td><%= link_to nicetime(manual.install_date), manual %></td>
    <td class="index-controls">
    <%= link_to 'Delete', manual, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-btn" %></td>
  <% end %>
<% end %>
</table>