<div class="row-fluid">
  <div class="span3">
    <%= render 'users/logo' %>
  </div>
  <div class="span4">
    <h4>Your details</h4>
    <p>
      Name: <strong><%= current_user.first_name %> <%= current_user.last_name %></strong><br/>
      Company name: <strong><%= fallback(current_user.company) %></strong><br/>
      Accreditation number: <strong><%= fallback(current_user.accreditation) %></strong><br/>
      ABN: <strong><%= fallback(current_user.abn) %></strong><br/>
      Company Address: <strong><%= fallback(current_user.company_address) %></strong><br/>
      Company Suburb: <strong><%= fallback current_user.company_suburb %></strong><br/>
      Company Postcode: <strong><%= fallback current_user.company_postcode %></strong><br/>
      Contact email: <strong><%= fallback current_user.contact_email %></strong><br/>
      Phone number: <strong><%= fallback current_user.company_phone %></strong><br/>
      Fax number: <strong><%= fallback current_user.company_fax %></strong>
    </p>
    <p><%= link_to "Update my details", edit_user_registration_path %></p>
    <hr/>
  </div>
  <div class="offset1 span4 alignright">
    <% if current_user.insider %>
      <p>Insider Account</p>
    <% elsif current_user.subscribed? %>
      <p>You are subscribed!</p>
      
      <p><%= link_to "Unsubscribe", unsubscribe_users_path, :method => :put %></p>
      
      <h4>Billing Details</h4>
      <p>
        Next payment: <strong><%= nicetime(current_user.last_payed_at + 1.month) %></strong><br/>
        Current usage: <strong><%= currency(current_user.current_charge) %></strong><br/>
        Card on file: <strong><%= format_card(current_user.stored_cc_number) %></strong>
      </p>
      <p><%= link_to "Change credit card", edit_card_users_path %></p>
      <hr/>
      
    <% else %>
      
      <% if current_user.eway_id %>
        <%= link_to "Subscribe", subscribe_users_path, :method => :put %>
      <% else %>
        
        <%= link_to "Subscribe", "#", :id => "show-cc-fields" %>
        <div id="subscribe-cc-fields">
          <%= form_for current_user, :url => subscribe_users_path do |f| %>
            <%= render :partial => "shared/cc_fields", :locals => {f: f} %>
            
            <%= f.hidden_field :remember, :value => true %>
            
            <%= f.submit "Subscribe" %>
          <% end %>
        </div>
      <% end %>
      
    <% end %>
  </div>
</div>

<p><%= link_to '<i class="icon-file"></i> Create New Manual'.html_safe, new_manual_path, class: 'btn btn-large btn-block', id: 'new-manual' %></p>

<hr/>

<table class="table" id="manuals-archive-table">
  <tr>
    <th width="20">Paid</th>
    <th>Client name</th>
    <th class="hidden-phone">Client address</th>
    <th class="hidden-phone">Client suburb</th>
    <th>Install date</th>
    <th></th>
  </tr>

<% @manuals.each do |manual| %>
  <%= content_tag :tr, class: (manual.filled? ? 'success': '') do %>
    <td class="paid-icon">
      <%= link_to content_tag(:i, "", class: (manual.paid? ? 'icon-ok' : 'icon-minus')), manual %>
    </td>
    <td><%= link_to manual.client_name, manual %></td>
    <td class="hidden-phone"><%= link_to manual.client_address, manual %></td>
    <td class="hidden-phone"><%= link_to manual.client_suburb, manual %></td>
    <td><%= link_to nicetime(manual.install_date), manual %></td>
    <td class="index-controls">
    <%= link_to 'Delete', manual, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-btn" %></td>
  <% end %>
<% end %>


<% if @manuals.count == 0 %>
  <tr>
    <td colspan="5"><a>No manuals yet.</a></td>
  </tr>
<% end %>
</table>


