<%= form_for(@manual) do |f| %>
  <% if @manual.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Check the errors below and try again.
    </div>
  <% end %>
  
  <p><%= link_to "â† Back", root_url %></p>
  
  <div class="section row">
    <div class="span4">
      <hr/>
      <h3>New Manual</h3>
    </div>
    <div class="span8">
      <hr/>
      <h3>Client Details</h3>
      <div class="field datetime">
        <%= f.label :install_date %>
        <%= f.date_select :install_date %>
      </div>

      <div class="field">
        <%= f.text_field :client_name, :placeholder => "Full Name" %>
      </div>
      <div class="field">
        <%= f.text_field :client_address, :placeholder => "Street Address" %>
      </div>
      <div class="field">
        <%= f.text_field :client_suburb, :placeholder => "Suburb"  %>
      </div>
      <div class="field">
        <%= f.text_field :client_postcode, :placeholder => "Post code"  %>
      </div>
      <div class="field">
        <%= f.label :client_state_id, "State" %>
        <%= f.collection_select :client_state_id, State.all, :id, :display_name, { :disabled => lambda{|state| state.disabled } } %>
      </div>
    </div>
  </div>
  
  <hr/>
  
  <% if @manual.paid? %>
    <%= render :partial => 'form', :locals => {  f: f } %>
  <% end %>
  
  <hr/>
  
  <div class="row">
    <div class="actions span8 offset4">
      <%= f.submit "Continue", :class => "btn btn-large" %>
    </div>
  </div>
  
<% end %>