<div class="row">
  <div class="span4">
    <h3>Client Details</h3>
    <p>
      Installed: <%= nicetime(@manual.install_date) %><br/>
      <strong><%= @manual.client_name %></strong><br/>
      <%= @manual.client_address %><br/>
      <%= @manual.client_suburb %>
    </p>
    
    <hr/>
    <% if @manual.paid? && @manual.filled %>
      <p>
        <%= link_to 'Generate PDF', manual_document_path(@manual, :format => :pdf), :class => "btn" %>
        <%= link_to 'Edit Details', edit_manual_path(@manual), :class => "btn" %>
      </p>
    <% elsif @manual.paid? %>

      <p><%= link_to 'Continue filling details', edit_manual_path(@manual), :class => "btn" %></p>

    <% else %>
      <p>You can unlock this manual for a fee of <strong>$5</strong>AU or <%= link_to "subscribe", root_url %> for unlimited access.</p>
      
      <% if @payment %>
        <%= form_for @payment do |f| %>
          <%= f.hidden_field :type, :value => "single" %>
          <%= f.hidden_field :payable_id, :value => @manual.id %>
          <%= f.hidden_field :payable_type, :value => @manual.class %>
          <%= f.submit 'Pay for this manual', :class => "btn", :'data-loading-text' => "Loading..." %>
        <% end %>
      <% end %>
      
      <% if @existing_uri %>
        <p><%= link_to "Pay for this manual", @existing_uri, :class => "btn", :'data-loading-text' => "Just a minute..." %></p>
      <% end %>

    <% end %>
    
    <p><%= link_to "â† Back", root_url %></p>
    
    <%= render :partial => 'images/form' %>
    
  </div>
  <div class="span8">
    <% if @manual.paid? && @manual.filled %>

      <h3>System Details</h3>

      <p>
        Address: <strong><%= @manual.system_address %></strong><br/>
        Output: <strong><%= @manual.system_watts %></strong> W<br/>
        System config: <strong><%= @manual.system_config %></strong><br/>
        PV Voltage: <strong><%= @manual.system_pv_voltage %></strong> Volts DC<br/>
        PV Current <strong><%= @manual.system_pv_current %></strong> Amps DC
      </p>

      <h3>Panels Details</h3>

      <p>
        Brand: <strong><%= @manual.panels_brand %></strong><br/>
        Model: <strong><%= @manual.panels_model %></strong><br/>
        Number of Panels: <strong><%= @manual.panels_number %></strong><br/>
        Serial Numbers:
      </p>
      <ol>
        <% @manual.panels_serial_numbers.split(',').each do |number| %>
          <li><strong><%= number %></strong></li>
        <% end %>
      </ol>
      <h3>Inverter Details</h3>

      <p>
        Brand: <strong><%= @manual.inverter_brand %></strong><br/>
        Model: <strong><%= @manual.inverter_model %></strong><br/>
        Output: <strong><%= @manual.inverter_output %></strong><br/>
        Number of Inverters: <strong><%= @manual.inverter_number %></strong><br/>
        Serial Number: <%= @manual.inverter_serial %>
      </p>

      <h3>Warranty Details</h3>

      <p>
        Workmanship: <strong><%= @manual.warranty_workmanship %></strong><br/>
        Panels - Product: <strong><%= @manual.warranty_panels_product %></strong><br/>
        Panels - Output Performance: <strong><%= @manual.warranty_panels_output_performance %></strong><br/>
        Inverter: <strong><%= @manual.warranty_inverter %></strong>
      </p>

      <h3>Graph</h3>

      <p>Using <strong><%= @manual.sunlight_city.capitalize %></strong> for sunlight data.</p>
  
    <% end %>
  </div>
</div>