<div id="manual-info">
  <% if @manual.unlocked? %>
    <% if @manual.filled? %>
      <p class="alert">
        Your manual is ready for download. You can now attach PDFs or add images and select a cover image.
        <% if current_user.fields_not_filled? %>
          <br/><br/>You should <%= link_to "fill in all your company details", edit_user_registration_path %> to ensure this manual contains correct information.
        <% end %>
      </p>
      <h1 id="manual-title"><%= @manual.client_name %></h1>
    
      <p id="manual-actions">
        <%= link_to '<i class="icon-download-alt"></i> Download Manual'.html_safe, manual_document_path(@manual, :format => :pdf), :class => "btn primary", id: "download-pdf" %>&nbsp;&nbsp;&nbsp;
        <%= link_to 'Duplicate', manual_duplicate_path(@manual), :class => 'btn' %>
      </p>
    
      <div id="manual-uploads">
        <%= render 'pdfs_form' %>
        <%= render 'images' %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'form' %>

