<p id="notice"><%= notice %></p>

<p>
  <b>Client name:</b>
  <%= @manual.client_name %>
</p>

<p>
  <b>Client address:</b>
  <%= @manual.client_address %>
</p>

<p>
  <b>Client suburb:</b>
  <%= @manual.client_suburb %>
</p>

<p>
  <b>Install date:</b>
  <%= @manual.install_date %>
</p>

<p>
  <b>Author name:</b>
  <%= @manual.author_name %>
</p>

<p>
  <b>Author company:</b>
  <%= @manual.author_company %>
</p>

<p>
  <b>Accreditation number:</b>
  <%= @manual.accreditation_number %>
</p>

<p>
  <b>System address:</b>
  <%= @manual.system_address %>
</p>

<p>
  <b>System watts:</b>
  <%= @manual.system_watts %>
</p>

<p>
  <b>System config:</b>
  <%= @manual.system_config %>
</p>

<p>
  <b>System pv voltage:</b>
  <%= @manual.system_pv_voltage %>
</p>

<p>
  <b>System pv current:</b>
  <%= @manual.system_pv_current %>
</p>

<p>
  <b>System yearly yield:</b>
  <%= @manual.system_yearly_yield %>
</p>

<p>
  <b>Panels brand:</b>
  <%= @manual.panels_brand %>
</p>

<p>
  <b>Panels model:</b>
  <%= @manual.panels_model %>
</p>

<p>
  <b>Panels number:</b>
  <%= @manual.panels_number %>
</p>

<p>
  <b>Panels serial numbers:</b>
  <%= @manual.panels_serial_numbers %>
</p>

<p>
  <b>Inverter brand:</b>
  <%= @manual.inverter_brand %>
</p>

<p>
  <b>Inverter model:</b>
  <%= @manual.inverter_model %>
</p>

<p>
  <b>Inverter output:</b>
  <%= @manual.inverter_output %>
</p>

<p>
  <b>Inverter number:</b>
  <%= @manual.inverter_number %>
</p>

<p>
  <b>Inverter serial:</b>
  <%= @manual.inverter_serial %>
</p>

<p>
  <b>Warranty workmanship:</b>
  <%= @manual.warranty_workmanship %>
</p>

<p>
  <b>Warranty panels product:</b>
  <%= @manual.warranty_panels_product %>
</p>

<p>
  <b>Warranty panels output performance:</b>
  <%= @manual.warranty_panels_output_performance %>
</p>

<p>
  <b>Warranty inverter:</b>
  <%= @manual.warranty_inverter %>
</p>

<p>
  <b>Diagram panels text:</b>
  <%= @manual.diagram_panels_text %>
</p>

<p>
  <b>Diagram inverter text:</b>
  <%= @manual.diagram_inverter_text %>
</p>

<p>
  <b>Average daily:</b>
  <%= @manual.average_daily %>
</p>

<p>
  <b>Average yearly:</b>
  <%= @manual.average_yearly %>
</p>


<%= link_to 'Edit', edit_manual_path(@manual) %> |
<%= link_to 'Back', root_url %>
