
<h2>Client Details</h2>
<p>
  Installed: <%= nicetime(@manual.install_date) %><br/>
  <strong><%= @manual.client_name %></strong><br/>
  <%= @manual.client_address %><br/>
  <%= @manual.client_suburb %>
</p>

<h3>Author Details</h3>

<p>
  <strong><%= @manual.author_name %></strong><br/>
  <%= @manual.author_company %><br/>
  <%= @manual.accreditation_number %>
</p>

<h3>System Details</h3>

<p>
  <%= @manual.system_address %><br/>
  <%= @manual.system_watts %><br/>
  <%= @manual.system_config %><br/>
  <%= @manual.system_pv_voltage %><br/>
  <%= @manual.system_pv_current %><br/>
  <%= @manual.system_yearly_yield %>
</p>

<h3>Panels Details</h3>

<p>
  Brand: <strong><%= @manual.panels_brand %></strong><br/>
  Model: <strong><%= @manual.panels_model %></strong><br/>
  Number of Panels: <strong><%= @manual.panels_number %></strong><br/>
  Serial Numbers:
</p>
<ol>
  <% @manual.panels_serial_numbers.split(',').each do |number| %>
    <li><strong><%= number.strip %></strong></li>
  <% end %>
</ol>
<h3>Inverter Details</h3>

<p>
  Brand: <strong><%= @manual.inverter_brand %></strong><br/>
  Model: <strong><%= @manual.inverter_model %></strong><br/>
  Output: <strong><%= @manual.inverter_output %></strong><br/>
  Number of Inverters: <strong><%= @manual.inverter_number %></strong><br/>
  Serial Number: <%= @manual.inverter_serial %>
</p>

<h3>Warranty Details</h3>

<p>
  <%= @manual.warranty_workmanship %><br/>
  <%= @manual.warranty_panels_product %><br/>
  <%= @manual.warranty_panels_output_performance %><br/>
  <%= @manual.warranty_inverter %>
</p>

<h3>Diagram Text</h3>

<%= simple_format @manual.diagram_panels_text %>

<%= simple_format @manual.diagram_inverter_text %>

<h3>Performance Estimates</h3>

<p>
  <%= @manual.average_daily %><br/>
  <%= @manual.average_yearly %>
</p>

<%= link_to 'Generate Document', manual_document_path(@manual) %> | 
<%= link_to 'Edit', edit_manual_path(@manual) %> |
<%= link_to 'Back', root_url %>
