<div id="manual-info">
  <% if @manual.unlocked? %>
    <% if @manual.filled? %>
      <p class="alert">
        Your manual is ready for download. You can now attach PDFs or add images and select a cover image.
        <% if current_user.fields_not_filled? %>
          <br/>You should <%= link_to "fill in all your company details", edit_user_registration_path %> to ensure this manual contains correct information.
        <% end %>
      </p>
      
      <div id="manual-uploads">
        <%= render 'images' %>
        <hr/>
        <%= render 'pdfs_form' %>
      </div>
      
      
      <%= form_for @manual, :url => manual_document_path(@manual, :format => :pdf) do |f| %>
      
        <% if current_user.pdfs.count > 0 %>
        
          <div id="manual-pdfs-boxes">
            
              <h4>Choose documents to attach to this manual</h4>
              
              <%= hidden_field_tag :pdf_list, true %>
              <%= hidden_field_tag 'manual[pdf_ids][]', nil %>

              <% @manual.user.pdfs.each do |pdf| %>
                <p class="pdf">
                  <%= label_tag dom_id(pdf), :class => 'checkbox' do %>
                    <%= check_box_tag 'manual[pdf_ids][]', pdf.id, @manual.pdf_ids.include?(pdf.id), id: dom_id(pdf), :class => 'pdf-checkbox' %> 
                    <%= pdf.file_file_name %>
                  <% end %>
                  <%= link_to "Delete", pdf_path(pdf), :method => :delete, :confirm => "Delete #{pdf.file_file_name}?", :class => 'delete-pdf-link' %>
                </p>
              <% end %>
          </div>
          
        <% end %>
          
        <hr/>
        <h3>Attachment Checklist <i class="icon-ok"></i></h3>
        <p class="help">Before downloading your manual be sure to check you have attached the following:</p><br/>
        <% Checklist.all.each do |checklist| %>
        
          <% if checklist.show_check_question || !@manual.include_checklist %>
            <%= check_box_tag "manual[checklist_ids][]", checklist.id, @manual.checklist_ids.include?(checklist.id), id: dom_id(checklist) %>
            <%= label_tag dom_id(checklist), checklist.question.html_safe %><br>
          <% end %>
          
        <% end %>
        
        <div id="manual-actions">              
          <p>Download your completed manual below</p>
          <button type="submit" class="btn primary" id="download-pdf">
            <i class='icon-download-alt'></i> Download Manual
          </button>
        </div>
      
      
      <% end %>
      
    <% end %>
  <% end %>
</div>

<%= render 'form' %>

