<div id="push"></div>
<div id="footer">
    
      <% if !user_signed_in? %>
      
      <div id="contact" class="greenfooter">
        <footer class="inner-container homefooter">
          <div class="foot3">For<br/>Support<br/>Enquiries<br/>Questions</div>
          <div class="foot1"><i class="sm-sprite sm-curly"></i></div>
          <div class="foot4  arrow-down"><i class="icon-arrow-down icon-white">&nbsp;</i></div>
          <div class="foot4">Contact Us<i class="icon-white icon-comment"></i><br/><a href="mailto:info@solarmanuals.com.au">info@solarmanuals.com.au</a></div>       
        </footer>
      </div>    
      
      <% end %>
              
       <div class="blackfooter">
        <footer class="homefooter">
          <div class="foot4 hidden-phone">&#169; Solar Energy Consultants 2013
            <br/>
            Unit 6, 887 Ann St<br/>
            Fortitude Valley, QLD, 4006<br/>
            Phone: +61 421 454 923
          </div>
          <div class="foot4">
            <div class="row">
              <ul class="">
                <li><%= link_to "FAQ", '/faq' %></li>
                <li><%= link_to "Terms & Conditions", '/terms' %></li>
              </ul>
            </div>
            <div class="row">
              <ul class="">
                <li><%= link_to "Privacy", '/privacy' %></li>
                <li><%= link_to "Delivery Policy", '/delivery' %></li>
                <li><%= link_to "Refunds", '/refunds' %></li>            
              </ul>
            </div>
          </div>
          
          <div class="foot4">
            <% if user_signed_in? %>
            <p>
              Contact Us <i class="icon-white icon-comment">&nbsp;</i> <a href="mailto:info@solarmanuals.com.au">info@solarmanuals.com.au</a>
            </p>
            <% end %>
            <p>
              All prices on this site are stated in Australian Dollars.
            </p>
          </div>
          
          <div class="foot4 marginbotom hidden-desktop hidden-tablet">&#169; Solar Energy Consultants 2013</div>         
        </footer>
      </div>
    
    </div>


<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>
  
  </body>
</html>