<div id="signed-in-top" class="nest">
  <div id="user-details">    
    <p>
      <strong><%= current_user.full_name %></strong><br/>
      <%= current_user.company %><br/>
      <%= current_user.full_address %><br/>
      <%= link_to "Update details", edit_user_registration_path %>
    </p>
  </div>

  <div id="billing-info">
    <i class="icon-file-alt"></i>  
    <% if current_user.insider %>  
      <p>Insider Account</p>
    <% elsif current_user.subscribed? %>
      <p>
        <strong>Subscribed</strong>&nbsp;&nbsp;∙&nbsp;&nbsp;<%= link_to "Details", billing_users_path %><br/>
        Usage <strong><%= currency(current_user.current_charge) %></strong><br/>
        Next charge <strong><%= nicetime(current_user.last_payed_at + 1.month) %></strong>
      </p>
  
    <% else %>
        <p>
          <strong>Casual User</strong>&nbsp;&nbsp;∙&nbsp;&nbsp;<%= link_to "Details", billing_users_path %><br/>
          <strong><%= currency(CASUAL_FEE) %> <span class="help">Per Manual</span></strong><br/>
          <%= link_to "Subscribe", subscribe_users_path %>
        </p>  
    <% end %>
  
  </div>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :id => "sign-out" %>
</div>

<div id="user-menu">
  <%= nav_link "New Manual", root_path %>  
  <%= nav_link "Archive", manuals_path %>
</div>