<%= render "layouts/header" %>
<div class="wrap">
  <div class="inner-wrap">
    <% if alert %>
      <div class="alert alert-error"><%= alert %></div>
    <% end %>
    <% if notice %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
  
    <% if user_signed_in? %>
      <div class="container">
        <%= render 'layouts/signed_in_nav' %>
      </div>
    <% end %>
  
    <div class="container content">
  
      <%= yield %>
    
    </div> <!-- /container -->
  
    <div id="push"></div>
  </div>
</div>

<%= render "layouts/footer" %>