<%= render "layouts/header" %>
<div class="wrap">
  <div class="inner-wrap">
    
    <%= render 'shared/flash', { flash: flash } %>
    
    <% if user_signed_in? %>
    <%= render "shared/ie_notice" %>
      <div class="container">
        <%= render 'layouts/signed_in_nav' %>
      </div>
    <% end %>
  
    <div class="container content">
  
      <%= yield %>
    
    </div> <!-- /container -->
  
    <div id="push"></div>
  </div>
</div>

<%= render "layouts/footer" %>