<%= render "layouts/header" %>


    
    <div id="header">
      <div id="home-nav" class="container">
        <ul id="home-menu">
          <li id="logo"><h1><a href="/">Installer Technologies</a></h1></li>
          <li><%= link_to, "Get Started" new_user_registration_path %></li>
          <li><a href="/#features" class="scroll">Features</a></li>
          <li><a href="/#pricing" class="scroll">Pricing</a></li>
          <li><a href="/#included" class="scroll">What's Included</a></li>
          <li><a href="/#contact" class="scroll">Contact</a></li>
          <li id="sign-in"><%= link_to new_user_session_path do %>Sign In<i class="icon-user"></i><%end%></li>
        </ul>
        
      </div>
    </div>
    
    <%= yield %>
    
    
<%= render "layouts/footer" %>
