<%= render "layouts/header" %>


    
    <div id="header" class="container">
      
      <ul id="home-menu">
        <li><a id="logo" href="/">Installer Technologies</a></li>
        <li><%= link_to "Get Started", new_user_registration_path %></li>
        <li><a href="/#features" class="scroll">Features</a></li>
        <li><a href="/#pricing" class="scroll">Pricing</a></li>
        <li><a href="/#included" class="scroll">What's Included</a></li>
        <li><a href="/#contact" class="scroll">Contact</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
  
    </div>
    
    <%= yield %>
    
    
<%= render "layouts/footer" %>
