<%= render "layouts/header" %>

  <div class="wrap">
    <div id="header" class="inner-wrap fluid">
        <div id="home-nav" class="container">
          <div class="inner-container">
            <ul id="home-menu">
              <li id="logo"><h1><a href="/">Installer Technologies</a></h1></li>
              <li><a href="/#features" class="scroll">Features</a></li>
              <li><a href="/#pricing" class="scroll">Pricing</a></li>
              <li><a href="/#included" class="scroll">What's Included</a></li>
              <li><a href="/#contact" class="scroll">Contact</a></li>
              <li><a href="/users/sign_up">Get Started</a></li>
              <li id="sign-in"><%= link_to new_user_session_path do %>Sign In<i class="icon-user"></i><%end%></li>
            </ul>
          </div>
      </div>
    </div>
    
    <div class="inner-wrap fluid">
      <%= render 'shared/flash', { flash: flash } %>
      <div class="container">
        <div class="inner-container">
    
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="push"></div>
  </div>

<%= render "layouts/footer" %>
